<div class="sidebar">
  <div class="searh-form">
    <h4 class="sb-title">Create a new user</h4>
    <%= render partial: 'partials/error', locals: {object: @movie} %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-style-1'}, validate: true) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 form-it">
            <%= f.label :name%><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2  form-it">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2  form-it">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
          <%= f.label :password, autocomplete: "new-password" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2  form-it">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-md-offset-5 form-it">
          <%= f.button :submit , class: 'my-submit-btn movie-item-style-1 movie-item-style-2' do%>
            <a>Sign Up</a>
          <% end %>
        </div>
      </div>
      <div class="row col-md-offset-2">
        <%= render "devise/shared/links" %>
      </div>
   <% end %>
  </div>
</div>
