<p id="notice"><%= notice %></p>

<h1>Actors</h1>

<table>
  <thead>
    <tr>
      <th>Actor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td>
        <% if actor.actor_pic.attached? %>

          <%= render partial: 'actor', locals: {actor: actor} %>
          <%= link_to 'Show', actor %>
          <%= link_to 'Edit', edit_actor_path(actor) %>
          <%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%else %>
          <h1> No picture Found </h1>
        <% end %>
        <td/>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor', new_actor_path %>
