<div class="sidebar" type="hidden">
  <div class="searh-form">
    <h4 class="sb-title">Add new Actors</h4>
    <%= render partial: 'partials/error', locals: {object: @movie} %>
    <%= form_with(model: @movie, local: true, class: 'form-style-1', validate: true) do |form| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-1  form-it">
          <%= form.label "Actors" %>
          <div class="group-ip">
            <%= form.select(:actor_ids, get_actors_for_movie(@movie), {prompt: 'Please Select actors to add', selected: @movie.actors }, { class:'ui fluid dropdown' , multiple: true }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-3 form-it">
        <%= form.button :submit , class: 'my-submit-btn movie-item-style-1 movie-item-style-2'%>
        </div>
      </div>
      <%= form.hidden_field :movie_update_type, value: 'actor' %>
   <% end %>
  </div>
</div>
