<header class="ht-header full-width-hd">
    <div class="row">
      <%= render 'partials/navbar' %>
    </div>
</header>
<div class="slider sliderv2">
  <div class="container">
    <div class="row">
        <div class="slider-single-item">
          <% @slider_movies.each do |movie| %>
            <div class="movie-item">
              <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                  <div class="title-in">
                    <h1><a href="#"><%=movie.title%> <span><%= movie.year.year%></span></a></h1>
                  <div class="social-btn">
                    <a href="<%= movie.thumb_nail(400,400)%>" class="parent-btn"><i class="ion-play"></i> Download Trailer</a>
                    <a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
                    <div class="hover-bnt">
                      <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                      <div class="hvr-item">
                        <a href="www.fb.com" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                        <a href="www.twitter.com" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                        <a href="www.google.com" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                        <a href="www.youtube.com" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                      </div>
                    </div>    
                  </div>
                    <div class="mv-details">
                      <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                      <ul class="mv-infor">
                        <li>  Run Time: <%=movie.length%> mins’ </li>
                        <li>  Release: <%=movie.year.day%> <%=movie.year.month%>, <%=movie.year.year%>, /li>
                      </ul>
                    </div>
                    <div class="btn-transform transform-vertical">
                    <div><a href="#" class="item item-1 redbtn">more detail</a></div>
                    <div><a href=" <%= movie_path(movie) %>" class="item item-2 redbtn hvrbtn">more detail</a></div>
                  </div>    
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="mv-img-2">
                    <a href="#"><%= image_tag movie.thumb_nail(270, 414) %></a>
                  </div>
                </div>
              </div>  
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
<div class="movie-items  full-width">
  <div class="row">
    <div class="col-md-12">
      <div class="title-hd">
        <h2>In Demand</h2>
        <a href="<%= home_movies_path %>" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
      </div>
      <div class="tabs">
        <ul class="tab-links">
          <li class="active"><a href="#tab1-h2">#Popular</a></li>
          <li><a href="#tab2-h2"> #Coming soon</a></li>
          <li><a href="#tab3-h2">  #Top rated  </a></li>
          <li><a href="#tab4-h2"> #Most reviewed</a></li>                        
        </ul>
          <div class="tab-content">
              <div id="tab1-h2" class="tab active">
                  <div class="row">
                    <div class="slick-multiItem2">
                      <% @movies.each do |movie| %>
                        <div class="slide-it">
                          <div class="movie-item">
                            <div class="mv-img">
                              <%= image_tag movie.thumb_nail(246, 377.95) %>
                            </div>
                            <div class="hvr-inner">
                              <a  href="<%= movie_path(movie) %>"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="title-in">
                              <h6><a href="<%= movie_path(movie) %>"><%= movie.title%></a></h6>
                              <p><i class="ion-android-star"></i><span><%= movie.rating%></span> /5</p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
              </div>
              <div id="tab2-h2" class="tab">
                 <div class="row">
                    <div class="slick-multiItem2">
                      <% @movies.each do |movie| %>
                        <div class="slide-it">
                          <div class="movie-item">
                            <div class="mv-img">
                              <%= image_tag movie.thumb_nail(246, 377.95) %>
                            </div>
                            <div class="hvr-inner">
                              <a  href="<%= movie_path(movie) %>"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="title-in">
                              <h6><a href="<%= movie_path(movie) %>"><%= movie.title%></a></h6>
                              <p><i class="ion-android-star"></i><span><%= movie.rating%></span> /5</p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
              </div>
              <div id="tab3-h2" class="tab">
                <div class="row">
                    <div class="slick-multiItem2">
                      <% @movies.each do |movie| %>
                        <div class="slide-it">
                          <div class="movie-item">
                            <div class="mv-img">
                              <%= image_tag movie.thumb_nail(246, 377.95) %>
                            </div>
                            <div class="hvr-inner">
                              <a  href="<%= movie_path(movie) %>"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="title-in">
                              <h6><a href="<%= movie_path(movie) %>"><%= movie.title%></a></h6>
                              <p><i class="ion-android-star"></i><span><%= movie.rating%></span> /5</p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
              </div>
               <div id="tab4-h2" class="tab">
                <div class="row">
                    <div class="slick-multiItem2">
                      <% @movies.each do |movie| %>
                        <div class="slide-it">
                          <div class="movie-item">
                            <div class="mv-img">
                              <%= image_tag movie.thumb_nail(246, 377.95) %>
                            </div>
                            <div class="hvr-inner">
                              <a  href="<%= movie_path(movie) %>"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="title-in">
                              <h6><a href="<%= movie_path(movie) %>"><%= movie.title%></a></h6>
                              <p><i class="ion-android-star"></i><span><%= movie.rating%></span> /5</p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="trailers full-width">
    <div class="row ipad-width">
      <!-- Trailers -->
      <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="title-hd">
            <h2>in theater</h2>
            <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
          </div>
          <div class="videos">
            <div class="slider-for-2 video-ft">
               <div>
                  <iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/1Q8fG0TtVAY"></iframe>
                </div>
                <div>
                  <iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/w0qQkSuWOS8"></iframe>
                </div>
                <div>
                  <iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/44LdLqgOpjo"></iframe>
                </div>
                <div>
                  <iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/gbug3zTm3Ws"></iframe>
                </div>
                <div>
                  <iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/e3Nl_TCQXuw"></iframe>
                </div>
                <div>
                  <iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/NxhEZG0k9_w"></iframe>
                </div>

            </div>
            <div class="slider-nav-2 thumb-ft">
              <div class="item">
                <div class="trailer-img">
                  <img src="<%image_path('uploads/trailer7.jpg')%>"  alt="photo by Barn Images" width="4096" height="2737">
                </div>
                <div class="trailer-infor">
                              <h4 class="desc">Wonder Woman</h4>
                              <p>2:30</p>
                            </div>
              </div>
              <div class="item">
                <div class="trailer-img">
                  <img src="images/uploads/trailer2.jpg"  alt="photo by Barn Images"  width="350" height="200">
                </div>
                <div class="trailer-infor">
                              <h4 class="desc">Oblivion: Official Teaser Trailer</h4>
                              <p>2:37</p>
                            </div>
              </div>
              <div class="item">
                <div class="trailer-img">
                  <img src="images/uploads/trailer6.jpg" alt="photo by Joshua Earle" width="509" height="301">
                </div>
                <div class="trailer-infor">
                              <h4 class="desc">Exclusive Interview:  Skull Island</h4>
                              <p>2:44</p>
                            </div>
              </div>
              <div class="item">
                <div class="trailer-img">
                  <img src="images/uploads/trailer3.png" alt="photo by Alexander Dimitrov" width="100" height="56">
                </div>
                <div class="trailer-infor">
                              <h4 class="desc">Logan: Director James Mangold Interview</h4> 
                              <p>2:43</p>
                            </div>
              </div>
              <div class="item">
                <div class="trailer-img">
                  <img src="images/uploads/trailer4.png"  alt="photo by Wojciech Szaturski" width="100" height="56">
                </div>
                <div class="trailer-infor">
                              <h4 class="desc">Beauty and the Beast: Official Teaser Trailer 2</h4> 
                              <p>2: 32</p>
                            </div>  
              </div>
              <div class="item">
                <div class="trailer-img">
                  <img src="images/uploads/trailer5.jpg"  alt="photo by Wojciech Szaturski" width="360" height="189">
                </div>
                <div class="trailer-infor">
                              <h4 class="desc">Fast&Furious 8</h4>  
                              <p>3:11</p>
                            </div>  
              </div>
            </div>
          </div>
        </div>
      <div class="col-md-3 col-sm-12 col-xs-12  ">
        <div class="sidebar" align="center">
          <div class="celebrities">
            <h4 class="sb-title">Spotlight Celebrities</h4>
            <% @actors.each do |actor| %>
              <div class="celeb-item">
                <%=image_tag (actor.resized_actor_pic(70,70)) %> 
                <div class="celeb-author">
                  <h6><a href="#"><%= actor.name %></a></h6>
                  <span>Actor</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

<!--end of latest new v2 section-->
