<p id="notice"><%= notice %></p>
<h1>Movies</h1>

<table>
  <thead>
  <tr>
    <th colspan="3">   </th>
    <th colspan="3">Title</th>
    <th colspan="3">Length</th>
    <th colspan="3">Rating</th>
    <th colspan="3">Year</th>

  </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td colspan="3"> <%= image_tag movie.thumb_nail(40) %></td>
        <td colspan="3"><%= movie.title %></td>
        <td colspan="3"><%= movie.length %></td>
        <td colspan="3"><%= movie.rating %></td>
        <td colspan="3"><%= movie.year %></td>
        <td colspan="3"><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td ><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
