<div class = "row">
  <div class = "col-md-4", align = "center">
    <%= image_tag @movie.posters[0] , class: 'poster-view' %>
    <div class = "row", align = "center">
    </div>
  </div>

</div>






<%#= Styling %>


<p>
  <strong>Title:</strong>
  <%= image_tag @movie.thumb_nail(20) %>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize @movie.description.strip %>
</p>

<p>
  <strong>Length:</strong>
  <%= @movie.length %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= render partial: 'trailer' , locals: {movie: @movie} %>
</p>

<p>
  <strong>Posters:</strong><br />
  <% 0 .. @movie.posters.count do |poster| %>
    <%= render partial: 'poster', locals: {movie: @movie, poster: poster} %>
  <% end %>
</p>

<p>
  <strong>Actors:</strong><br />
  <% @movie.actors.each do |actor| %>
  <%= render partial: 'actor_movie', locals: {movie: @movie, actor: actor} %>
  <% end %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
