<!-- <div class = "row">
  <div class = "col-md-4", align = "center">
    <#%= image_tag @movie.posters[0] , class: 'poster-view' %>
    <div class = "row", align = "center">
    </div>
  </div>

</div>






<%#= Styling %>


<p>
  <strong>Title:</strong>
  <#%= image_tag @movie.thumb_nail(20) %>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize @movie.description.strip %>
</p>

<p>
  <strong>Length:</strong>
  <%= @movie.length %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Trailer:</strong>
  <#%= render partial: 'trailer' , locals: {movie: @movie} %>
</p>

<p>
  <strong>Posters:</strong><br />
  <#% 0 .. @movie.posters.count do |poster| %>
    <#%= render partial: 'poster', locals: {movie: @movie, poster: poster} %>
  <#% end %>
</p>

<p>
  <strong>Actors:</strong><br />
  <#% @movie.actors.each do |actor| %>
  <#%= render partial: 'actor_movie', locals: {movie: @movie, actor: actor} %>
  <#% end %>
</p>


<#%= link_to 'Edit', edit_movie_path(@movie) %> |
<#%= link_to 'Back', movies_path %> -->

<header class="ht-header">
  <div class="container">
    <%= render 'partials/navbar' %>
    <%= render 'partials/searchbar' %>
  </div>
</header>
<div class="hero mv-single-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <h1> movie listing - list</h1>
        <ul class="breadcumb">
          <li class="active"><a href="#">Home</a></li>
          <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
<div class="page-single movie-single movie_single">
  <div class="container">
    <div class="row ipad-width2">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="movie-img sticky-sb">
          <%= image_tag (@movie.thumb_nail(330,505.67)) %>
          <div class="movie-btn"> 
            <div class="btn-transform transform-vertical red">
              <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Download Trailer</a></div>
              <% if @movie.trailer.attached? %>
                <div><a href="<%= url_for(@movie.trailer) %>" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
              <% else %>
                <div><a href="# class='fancybox-media hvr-grow'"><i class="ion-play"></i></a></div>
              <% end %>
            </div>
            <div class="btn-transform transform-vertical">
              <div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>
              <div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="movie-single-ct main-content">
          <h2 class="bd-hd"><%= @movie.title %> <span>(<%= @movie.year.year %>)-<%=@movie.length%> mins</span></h2>
          <div class="social-btn">
            <a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
            <div class="hover-bnt">
              <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
              <div class="hvr-item">
                <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
              </div>
            </div>    
          </div>
          <div class="movie-rate">
            <div class="rate">
              <i class="ion-android-star"></i>
              <p><span><%= calculate_average_review(@movie) %></span> /5<br>
                <span class="rv"><%= @movie.reviews.count %> Reviews</span>
              </p>
            </div>
            <div class="rate-star">
              <p>Rate This Movie:  </p>
              <div class="average-review-rating" data-score="<%=calculate_average_review(@movie) %>"></div>
            
            </div>
          </div>
          <div class="movie-tabs">
            <div class="tabs">
              <ul class="tab-links tabs-mv">
                <li class="active"><a href="#overview">Description</a></li>
                <li><a href="#reviews"> Reviews</a></li>
                <li><a href="#cast">  Actors </a></li>
                <li><a href="#media"> Media</a></li>                         
              </ul>
                <div class="tab-content">
                    <div id="overview" class="tab active">
                      <div class="row">
                        <% if !is_admin?%>
                          <div class="col-md-8 col-sm-12 col-xs-12">
                            <p><%= sanitize @movie.description.strip %></p>
                          </div>
                        <% else %>
                        <%= render partial: 'description_edit' %>
                        <% end %>
                      </div>
                    </div>
                    <div id="reviews" class="tab review">
                      <div class="row">
                          <div class="rv-hd">
                            <div class="div">
                              <h3>Related Movies To</h3>
                            <h2><%= @movie.title %></h2>
                            </div>
                          </div>
                          <div class="topbar-filter">
                            <p>Found <span><%= @movie.reviews.count%> reviews</span> in total</p>
                            <label>Filter by:</label>
                            <select>
                              <option value="popularity">Popularity Descending</option>
                              <option value="popularity">Popularity Ascending</option>
                              <option value="rating">Rating Descending</option>
                              <option value="rating">Rating Ascending</option>
                              <option value="date">Release date Descending</option>
                              <option value="date">Release date Ascending</option>
                            </select>
                          </div>
                        <div id="review-list">
                        <% @reviews.each do |review| %>  
                          <div class="mv-user-review-item" id="review-id-<%=review.id%>">
                            <div class="user-infor">
                              <%= image_tag(user_profile_pic(review.user, 42, 42)) %>
                              <div>
                                <h3><%=review.title %></h3>
                                <p class="time">
                                  <%= review.created_at.to_date %> by <a href="edit_user_registration_url(review.user)"> <%= review.user.name%></a>
                                </p>
                              </div>
                            </div>
                            <p> <div class="no-star"><div class="review-rating" data-score="<%=review.rating %>"></div></div> <p>
                            <p><%=review.comment%></p>
                            <% if (is_admin? || (current_user == review.user)) %>    
                              <br />  
                              <div class = "row" align="center">
                                <div class= "col-md-2 col-md-offset-1">                   
                                  <button class="my-edit-btn movie-item-style-1 movie-item-style-2 "><%= link_to ' Edit ', edit_review_path(review) %></button>
                                </div>
                                <div class= "col-md-2 col-md-offset-1">  
                                  <%= render partial: 'admin/reports/form', locals: { user: current_user.id, review: review.id} %>                
                                </div>
                                <div class= "col-md-2 col-md-offset-1"> 
                                  <button class="my-delete-btn movie-item-style-1 movie-item-style-2 "> <%= link_to 'Delete', review_path(review), remote:true, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        <% end %> 
                       </div>
                        <br/ >                   
                        <%= render partial: 'reviews/form', locals: {review: @new_review, movie: @movie, show_page: true} %>
                        <div class="topbar-filter">
                          <label>Reviews per page:</label>
                          <select>
                            <option value="range">5 Reviews</option>
                            <option value="saab">10 Reviews</option>
                          </select>
                          <div class="pagination2">
                            <%= paginate @reviews %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="cast" class="tab">
                     <% if is_admin? %>
                        <%= render partial: 'add_actors' %>
                      <% end %>
                      <div class="row">
                        <% if !is_admin? %>
                          <h3>Cast of</h3>
                          <h2><%=@movie.title%></h2>
                        <% end %>
                          <div class="title-hd-sm">
                            <h4>Actors</h4>
                          </div>
                        <div class="mvcast-item">    
                          <% @actors.each do |actor| %>                 
                            <div class="cast-it">
                              <div class="cast-left">
                                <%= image_tag(actor.resized_actor_pic(200,200)) %>
                                <%= link_to actor.name, actor_path(actor) %> 
                              </div>
                              <p>
                                <% if is_admin? %>
                                  <button class="my-edit-btn movie-item-style-1 movie-item-style-2"><%= link_to ' Edit ', edit_actor_path(actor) %></button><button class="my-remove-btn movie-item-style-1 movie-item-style-2"> <%= link_to 'Remove', remove_actor_movie_path(@movie, actor), method: :delete %></button>
                                <% end %>
                              </p>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div id="media" class="tab">
                      <div class="row">
                        <% if is_admin? %>
                          <%= render partial: 'media_update' %>
                        <% end %>
                        <div class="rv-hd">
                          <% if !is_admin? %>
                            <div>
                              <h3>Videos & Posters of</h3>
                              <h2><%=@movie.title%></h2>
                            </div>
                          <% end %>
                        </div>
                        <div class="title-hd-sm">
                            <h4> Trailer</h4>
                        </div>
                        <div class="mvsingle-item media-item">
                          <% if @movie.trailer.attached?%>
                            <div>
                              <%= video_tag(url_for(@movie.trailer), controls: "")%>
                            </div>
                          <% end %>
                        </div>
                        <% if is_admin? && @movie.trailer.attached? %>  
                          <br />
                          <div align="center">
                            <button class="my-delete-btn movie-item-style-1 movie-item-style-2"> <%= link_to 'Delete', delete_trailer_movie_path, method: :delete %></button>
                          </div>
                        <% end %>
                        <div class="title-hd-sm">
                          <h4>Posters <span> <%= @movie.posters.size %></span></h4>
                        </div>
                        <%@movie.posters.each do |poster| %>
                          <div class="mvsingle-item col-md-12" >
                            <%= image_tag url_for(@movie.movie_poster(poster, 850,400))%>  
                          </div>
                          <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                              <button class="my-delete-btn movie-item-style-1 movie-item-style-2"> <%= link_to 'Delete', delete_poster_movie_path(@movie,poster), method: :delete %></button>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>    
                                       
                    <div id="moviesrelated" class="tab">
                      <div class="row">
                        <h3>Related Movies To</h3>
                        <h2>Skyfall: Quantum of Spectre</h2>
                        <div class="topbar-filter">
                      <p>Found <span>12 movies</span> in total</p>
                      <label>Sort by:</label>
                      <select>
                        <option value="popularity">Popularity Descending</option>
                        <option value="popularity">Popularity Ascending</option>
                        <option value="rating">Rating Descending</option>
                        <option value="rating">Rating Ascending</option>
                        <option value="date">Release date Descending</option>
                        <option value="date">Release date Ascending</option>
                      </select>
                    </div>
                    <div class="movie-item-style-2">
                      <img src="images/uploads/mv1.jpg" alt="">
                      <div class="mv-item-infor">
                        <h6><a href="#">oblivion <span>(2012)</span></a></h6>
                        <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                        <p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
                        <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                        <p>Director: <a href="#">Joss Whedon</a></p>
                        <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
                      </div>
                    </div>
                    <div class="movie-item-style-2">
                      <img src="images/uploads/mv2.jpg" alt="">
                      <div class="mv-item-infor">
                        <h6><a href="#">into the wild <span>(2014)</span></a></h6>
                        <p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
                        <p class="describe">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat...</p>
                        <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                        <p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
                        <p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#">  Scarlett Johansson</a></p>
                      </div>
                    </div>
                    <div class="movie-item-style-2">
                      <img src="images/uploads/mv3.jpg" alt="">
                      <div class="mv-item-infor">
                        <h6><a href="#">blade runner  <span>(2015)</span></a></h6>
                        <p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
                        <p class="describe">Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help...</p>
                        <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                        <p>Director: <a href="#">Peyton Reed</a></p>
                        <p>Stars: <a href="#">Paul Rudd,</a> <a href="#"> Michael Douglas</a></p>
                      </div>
                    </div>
                    <div class="movie-item-style-2">
                      <img src="images/uploads/mv4.jpg" alt="">
                      <div class="mv-item-infor">
                        <h6><a href="#">Mulholland pride<span> (2013)  </span></a></h6>
                        <p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
                        <p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
                        <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                        <p>Director: <a href="#">Shane Black</a></p>
                        <p>Stars: <a href="#">Robert Downey Jr., </a> <a href="#">  Guy Pearce,</a><a href="#">Don Cheadle</a></p>
                      </div>
                    </div>
                    <div class="movie-item-style-2">
                      <img src="images/uploads/mv5.jpg" alt="">
                      <div class="mv-item-infor">
                        <h6><a href="#">skyfall: evil of boss<span> (2013)  </span></a></h6>
                        <p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
                        <p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
                        <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                        <p>Director: <a href="#">Alan Taylor</a></p>
                        <p>Stars: <a href="#">Chris Hemsworth,  </a> <a href="#">  Natalie Portman,</a><a href="#">Tom Hiddleston</a></p>
                      </div>
                    </div>
                    <div class="topbar-filter">
                      <label>Movies per page:</label>
                      <select>
                        <option value="range">5 Movies</option>
                        <option value="saab">10 Movies</option>
                      </select>
                      <div class="pagination2">
                        <span>Page 1 of 2:</span>
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                      </div>
                    </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


