    <nav class="navbar navbar-default navbar-custom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header logo">
            <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <div id="nav-icon1">
              <span></span>
              <span></span>
              <span></span>
            </div>
            </div>
            <a href='<%=root_path%>'> <%= image_tag 'logo1.png', class:'logo', style: '119x58' %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav flex-child-menu menu-left">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li><%= link_to 'Movies', home_movies_path%></li> 
            <% if current_user.super_user %>
              <li class="dropdown first">
                <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                Admin<i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu level1">
                  <!-- Synatx to rembember to layer drop down -->
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Movies<i class="ion-ios-arrow-forward"></i></a>
                    <ul class="dropdown-menu level2">
                      <li><%= link_to 'Add', new_movie_path %></li>
                      <li><%= link_to 'Edit', movies_path %></li>
                    </ul>
                  </li>     
                   <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Actors<i class="ion-ios-arrow-forward"></i></a>
                    <ul class="dropdown-menu level2">
                      <li><%= link_to 'Add', new_actor_path %></li>
                      <li><%= link_to 'Edit', actors_path %></li>
                    </ul>
                  </li>  
                  <li class="it-last"><%= link_to 'Reviews', '#' %></li>
                </ul>
              </li>
            <% end %>
<!--             <li class="dropdown first">
              <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu level1">
                <li><a href="celebritygrid01.html">celebrity grid 01</a></li>
                <li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
                <li><a href="celebritylist.html">celebrity list</a></li>
                <li class="it-last"><a href="celebritysingle.html">celebrity single</a></li>
              </ul>
            </li> -->
          </ul>
          <ul class="nav navbar-nav flex-child-menu menu-right">
            <% if user_signed_in? %>
              <li class="dropdown first">
                <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                <%= image_tag user_profile_pic(current_user,30,30), class: 'img-circle' %>  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu level1">
                  <li><%= link_to 'Profile', edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>                
            <li><a href="#">Help</a></li> 
            <% if !user_signed_in? %>
              <li class="loginLink"><a href="#">LOG In</a></li>
              <li class="btn signupLink"><a href="#">sign up</a></li>
            <% end %>
          </ul>
        </div>
      <!-- /.navbar-collapse -->
      </nav>
      
