<div class="sidebar">
  <div class="searh-form">
    <h4 class="sb-title">Change your password</h4>
    <%= render partial: 'partials/error', locals: {object: @movie} %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-style-1', method: :put }, validate: true) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 form-it">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 form-it">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-md-offset-5 form-it">
          <%= f.button :submit , class: 'my-submit-btn movie-item-style-1 movie-item-style-2' do%>
            <a>Reset</a>
          <% end %>
        </div>
      </div>
      <div class="row col-md-offset-2">
        <%= render "devise/shared/links" %>
      </div>
   <% end %>
  </div>
</div>
