<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- Mirrored from haintheme.com/demo/html/bustter/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Jul 2019 14:24:06 GMT -->
<head>
  <!-- Basic need -->
  <title>Open Pediatrics</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
  <!-- Mobile specific meta -->
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone-no">

  <!-- CSS files -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="<%=image_url('logo1.png')%>" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>


<div class="page-single-2">
  <div class="container">
    <div class="row">
      <div class="middle-content">
        <a href="index.html"><img class="md-logo" src="<%=image_url('logo1.png')%>" alt=""></a>
        <img src="<%=image_url('uploads/err-img.png')%>" alt="">
        <h1>Page not found</h1>
        <a href="<%=home_movies_path%>" class="redbtn">go home</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
