<div class="mv-user-review-item"  id="review-id-<%=review.id%>">
  <div class="user-infor">
    <%= image_tag(user_profile_pic(review.user, 42, 42)) %>
    <div>
      <h3><%=review.title %></h3>
      <p class="time">
        <%= review.created_at.to_date %> by <%= review.user.name%>
      </p>
    </div>
  </div>
  <p> <div class="no-star"><div class="review-rating" data-score="<%=review.rating %>"></div></div> <p>
  <p><%=review.comment%></p>
  <% if is_editable? review %>    
    <br />  
    <div class = "row" align="center">
      <div class= "col-md-2 col-md-offset-1">                   
        <button class="my-edit-btn movie-item-style-1 movie-item-style-2 "><%= link_to ' Edit ', edit_review_path(review) %></button>
      </div>
      <div class= "col-md-2 col-md-offset-1"> 
        <button class="my-delete-btn movie-item-style-1 movie-item-style-2 "> <%= link_to 'Delete', review_path(review),remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div>
    </div>
  <% end %>
</div>

